.nav-title {
  align-content: center;
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  color: #f2f2f2;
}

.menu-button {
  padding: auto;
  color: #f2f2f2;
}

.nav {
  overflow: hidden;
  background-color: #80b17e;
}

.nav-link {
  color: #f2f2f2;
  background-color: #80b17e;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #6a9268;
}